{% extends 'base.html' %}

{% block title %}Goalz{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hi, {{ user.name }}</h1>
        </div>
    </div>
</div>

<div class="my-3 container">
    <div class="row">
        <div class="col">
            <h2>Add a goal</h2>
            <form action="/add-goal" method="POST" id="add-goal">
                <input type="text" style="width: 500px" name="goal">
                <button type="submit" class="btn-outline-secondary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>

{% if goals|length >= 1 %}
<div class="container">
    <div class="d-flex flex-row">
        <div>
            <h2 id="goal-header">Your goals</h2>
        </div>
        <div>
            <button class="m-2 btn-outline-secondary btn-sm" id="edit-btn">Edit</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for goal in goals %}
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title" style="color:#FF8A9D">{{ goal.entry_date.strftime("%B %d, %Y") }}</h5>
                    <h5 class="card-text">{{ goal.goal }}</h5>
                    <form class="edit-form hide" action="/edit-goal" method="POST">
                        <input class="hide" name="id" value={{ goal.goal_id }}>
                        <label for="date">Date:</label>
                            <input type="date" style="width:260px" name="date" value={{ goal.entry_date }}>
                        <label for="goal">Goal:</label>
                            <input style="width:260px" name="goal" value="{{ goal.goal }}">
                        <button class="btn-outline-secondary btn-sm" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<script>
    $("#edit-btn").on("click", () => {
        $(".edit-form").removeClass("hide");
    })

    
</script>

{% endblock %}