{% extends 'base.html' %}

{% block title %}Goalz{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hi, {{ user.name }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add a goal</h2>
            <form action="/add-goal" method="POST" id="add-goal">
                <input type="text" style="width: 500px" name="goal">
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your goals</h2><button display="inline" id="edit-btn">Edit</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for goal in goals %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ goal.entry_date.strftime("%B %d, %Y") }}</h5>
                    <p class="card-text">{{ goal.goal }}</p>
                    <form class="edit-form hide" action="/edit-goal" method="POST">
                        <h6>edit fields below:</h6>
                        <input class="hide" name="id" value={{ goal.goal_id }}>
                        <label for="date">Date:</label>
                            <input style="width:200px" name="date" value={{ goal.entry_date }}>
                        <label for="goal">Goal:</label>
                            <input style="width:200px" name="goal" value="{{ goal.goal }}">
                        <input type="submit" value="Commit changes">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    let displayForm = () => {
        $(".edit-form").removeClass("hide");
    }

    let buttons = document.querySelectorAll('button');
        for (let i=0; i<buttons.length; ++i) {
          buttons[i].addEventListener('click', displayForm);
        }
</script>

{% endblock %}